body{
    font-size: 62.5%;
    font-family: "游ゴシック", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", sans-serif;
}
h2,h3,h4,h5,h6,p{
    font-family: 'Lato', sans-serif;
}

a:hover{
    text-decoration: none;
}

.min{
    font-family: 'Lato', sans-serif;
}

.hdr-upper{
    padding: 2.5em 0 1em 0;
    font-size: 2.8em;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
h1{
    margin: 0;
    font-size: 1.8rem;
}
.hdr-upper a {
    color: black;
}
.hdr-middle{
    text-align: center;
    font-size: 1.4em;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.hdr-bar-middle{
    margin: 0;

}
.nav-wrap{
    max-width: 1024px;
    width: auto;
}
/* .gnav{
    display: flex;
    position: relative;
    z-index: 100;
} */
/* humbergermenu */
.rwd-not-pc{
    display: none;
}
.reserved{
    position: absolute;
    top: -40%;
    right: 0;
}
ul.navbar-low{
    display: flex;
    padding-left: 0px;
}
li.nav-item{
    padding: 1.5rem 5rem 0.5rem 4rem;
    font-size: 1.4em;
}

a.nav-link{
    padding: 0;
    color: black;
}
.btn_inner{
    border-width: 1px;
    border-style: solid;
    padding: 1em 1em;
    font-size: 1.4em;
    border-color: black;
    text-decoration: none;
    /* これが効かない下線が入ってしまう。 */
}
.reserved span{
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    padding: 0.5em 1em;
    border-color: black;
    color: black;
}
/* アイコン */
.utility{
    position: absolute;
    top: -100px;
    right: 0;
}
.icon-mail img,.share img{
    max-width: 20px;
}
li.share-hdr{
    margin-right: 10px;
}
li.share{
    margin: 0 10px 0 10px;
}
/* carusel start*/
.carousel-inner{
    height: 500px;
}

.mv_inner{
    position: relative;

}
.change_inner{
    padding: 1vw 2.5vw;
    left: 2vw;
    bottom: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    z-index: 100;
}
/* .change__unit{
    margin-bottom: 0;
} */
.charge__unit dt{
    padding-top: 0.3rem;
}

/* -----------------------------ここまでがheader部分 finish-*/



/* ここからmain----------- */

.contact-con{
    margin-top:7rem;
    margin-bottom: 10rem;
}

table {
    border-collapse: collapse;
}

p {
    font-size: 1em;
    /* font-weight: bold; */
    text-align: center;
    margin: 60px auto 40px;
}

input[type="submit"],input[type="text"],select,textarea,button {
    box-shadow: none;
    outline: none;
    border: none;
}

input.btn{
    width: 200px;
    font-size: 2.5rem;
    margin-top: 3rem;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 3px red;
}

input.btn:hover {
    background-color: #ffecea;
  }

input[type="text"],textarea {
    background: #f8f8f8;
    display: block;
    font-size: 16px;
    padding: 12px 15px;
    width: 480px;
    transition: 0.8s;
    border-radius: 0;
}

input[type="text"]:focus,textarea:focus {
    background: #e9f5fb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea[name="content"] {
    display: inline-block;
    width: 100%;
    height: 200px;
}

input::placeholder,textarea::placeholder {
    color: #ccc;
}

form{
    text-align: center;
}
.form-table {
    width: 100%;
}

.form-table th,.form-table td {
    border: 1px solid #d7d7d7;
    font-size: 2em;
    padding: 20px;
}

.form-table th {
    background: #ffecea;
    padding-left: 50px;
    position: relative;
    text-align: left;
    /* width: 350px; */
}

/* .btn{
    border-bottom: solid 10px red;
} */


/* レスポンシブル用 */
/* .form-table th,
.form-table td {
  display: block;
  width: 100%;
  border-bottom: none;
} */











/* footerのCSSスタートーーーーーーーーーーーーーーーーーーーーーーー完成 */
/*  todo--------後は、borderとフォントを直す */
/* footerのCSSスタートーーーーーーーーーーーーーーーーーーーーーーー完成 */
/*  todo--------後は、borderとフォントを直す */
footer{
    padding: 0 3rem 2rem 3rem;
    margin-top: 10rem;
    margin-bottom: 5rem;

}
.ftr_inner h2{
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
}
.ftr_inner{
    box-sizing: border-box;
    padding: 2rem 2rem 4rem;
    background-color: #f8f8f8;
}
.site-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ftr_inner .site-info_ttl{
    position: relative;
    /* 下二つで下線の調整 */
    padding-bottom: 1.5em;
    margin-bottom: 1em;
}
.ftr_inner .site-info_ttl:after{
    display: block;
    content: '';
    width: 2em;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.m-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sitemap li{
    padding: 0.5em 0;
}
.m-row dt{
    margin-right: 1em;
}
footer ul{
    list-style: none;
    padding-left: 0px;
}
footer li a{
    color: black;
}
.follow dt, .share-ftr dt{
    padding-bottom: 0.25rem;
}
.follow a, .share-ftr a{
    color: black;
}

footer .copyright{
    position: fixed;
    top: 50%;
    left: -3rem;
    transform: rotate(-90deg) translateY(-50%);
    font-size: 1rem;
}

/* PC型 768px~1024px */
@media screen and (min-width: 768px) and (max-width: 1024px){
    
    /* humbergermenu */
    .rwd-not-pc{
        display: none;
    }



    li.nav-item {
        padding: 1.5rem 3rem 0.5rem 4rem;
        font-size: 1.4em;
    }
    .btn_inner{
        position: absolute;
        top: -83px;
        right: 20px;
    }

    .change_inner{
        position: absolute;
        bottom: 110px;
        left: 10px;
    }
    .photobox{
            position: absolute;
            top: 12%;
    }

    .photo-pcon,#map{
        margin-top: 0;
    }
    .information,#product,.recrui,.recruit{
        margin-top: 5rem;
    }


    .form-table th {
        background: #ffecea;
        padding-left: 10px;
        position: relative;
        text-align: left;
        /* width: auto; */
    }
    .form-table th, .form-table td {
        font-size: 1.5em;
    }
  
}

/* タブレット型 479px~767px*/
@media screen and (min-width: 479px) and (max-width: 767px){

    /* humbergermenu */
    ul.navbar-low, .rwd-not-pc{
        display: block;
    }
    li.nav-item{
        text-align: center;
        padding: 1.5rem 5rem 0.5rem 5rem;
    }
    .reserved{
        position: static;
    }
    .btn_inner{
        border: none;
    }

    .change_inner{
        border: none;
    }
    .reserved span{
        border: none;
    }
    .utility{
        display: none;
    }
    .rwd-not-pc{
        padding: 1.5rem 5rem 0.5rem 5rem;
        font-size: 1.4em;
        text-align: center;
    }
    .reserved{
        padding: 1.5rem 5rem 2.5rem 5rem;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
    .btn_inner span{
        color: white;
        font-size: 2em;
    }
    .navbar{
        background-color: rgba(0,0,0,0.2);
        padding: 0;
    }
    a.nav-link{
        color: white;
        font-size: 2em;
    }
    li.nav-item a:hover{
        background-color: honeydew;
        color: black;
    }
    li.rwd-not-pc a:hover{
        background-color: honeydew;
        color: black;
    }
    .reserved a:hover{
        background-color: honeydew;
    }
    .btn_inner span:hover{
        color: black;
    }
    /* ここまでhumbergermenu */


    .change_inner{
        bottom: 360px;
    }
    button{
        position: absolute;
        top: -115px;
        right: 10px;
    }
    
    .information,.photo-pcon,#map{
        margin-top: 0;
    }
    #product,.recruit{
        margin-top: 5rem;
    }
    .site-info,.sitemap{
        display: block;
    }
    .site-info__unit{
        margin: 5rem 0;
    }
   
    .ftr_inner,.site-info{
        text-align: center;
    }
    .ftr_inner{
        font-size: 200%;
    }
    .ftr_inner .site-info_ttl{
        position: static;
    }
    .site-info_ttl{
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    footer .copyright{
        position: static;
        transform:none;
        font-size: 1rem;
    }
    small {
        font-size: 100%;
    }
    .ftr_inner .site-info_ttl:after{
        display: none;
    }
    .form-table th {
        background: #ffecea;
        padding-left: 25px;
        position: relative;
        text-align: left;
        /* width: auto; */
    }
    .form-table th, .form-table td {
        font-size: 1.5em;
    }
    
}

/* スマホ mobile型 ~478px*/
@media screen and (max-width: 478px){

    /* humbergermenu */
    ul.navbar-low, .rwd-not-pc{
        display: block;
    }
    li.nav-item{
        text-align: center;
        padding: 1.5rem 5rem 0.5rem 5rem;
    }
    .reserved{
        position: static;
    }
    .btn_inner{
        border: none;
    }

    .change_inner{
        border: none;
    }
    .reserved span{
        border: none;
    }
    .utility{
        display: none;
    }
    .rwd-not-pc{
        padding: 1.5rem 5rem 0.5rem 5rem;
        font-size: 1.4em;
        text-align: center;
    }
    .nav-link small{
        display: none;
    }
    .reserved{
        padding: 1.5rem 5rem 0.5rem 5rem;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }
    .btn_inner span{
        color: white;
        font-size: 2em;
    }
    .navbar{
        background-color: rgba(0,0,0,0.2);
        padding: 0;
    }
    a.nav-link{
        color: white;
        font-size: 2em;
    }
    li.nav-item a:hover{
        background-color: honeydew;
        color: black;
    }
    li.rwd-not-pc a:hover{
        background-color: honeydew;
        color: black;
    }
    .reserved a:hover{
        background-color: honeydew;
    }
    .btn_inner span:hover{
        color: black;
    }
    /* ここまでhumbergermenu */




    .change_inner{
        display: none;
    }
    
    button{
        position: absolute;
        top: -115px;
        right: 10px;
    }

    .information,.photo-pcon,#map{
        margin-top: 0;
    }
    #product,.recruit{
        margin-top: 5rem;
    }
    dl.info-list-unit {
        justify-content: center;
        display: block;
    }
    .info-list-unit dt{
        margin-left: 1em;
    }
    .info-list-unit dd {
        margin: 1em auto;
    }
    .site-info,.sitemap{
        display: block;
    }
    .site-info__unit{
        margin: 5rem 0;
    }
   
    .ftr_inner,.site-info{
        text-align: center;
    }
    .ftr_inner{
        font-size: 200%;
    }
    .ftr_inner .site-info_ttl{
        position: static;
    }
    .site-info_ttl{
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    footer .copyright{
        position: static;
        transform:none;
        font-size: 1rem;
    }
    small {
        font-size: 100%;
    }
    .ftr_inner .site-info_ttl:after{
        display: none;
    }
   



}
