
body{
    font-size: 62.5%;
    font-family: "游ゴシック", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", sans-serif;
}
h4,p{
    font-family: 'Lato', sans-serif;
}

.hdr-upper{
    padding: 2.5em 0 2em 0;
    font-size: 2.8em;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
h1{
    margin: 0;
}
.hdr-upper a {
    color: black;
}
.hdr-middle{
    text-align: center;
    font-size: 1.4em;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.hdr-bar-middle{
    margin: 0;

}



/* mainコンテンツのCSSスタートーーーーーーーーーーーーーーーーーーーーーーー */

.information{
    /* display: flex;
    justify-content: space-around; */
    margin-top: 20rem;
    /* 上との調整で仮にマージンをかけている */
}
.info_hdr h4{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
/* .info-list{
    margin-left: 30px;
} */
dl{
    margin-top: 1em;
}
dt{
    font-weight: 100;
}
dd{
    font-size: 1.1rem;
}
time{
    font-size: 1.1rem;
}
dl.info-list-unit{
    display: flex;
    justify-content: center;
}
.info-list dt{
    width: 150px;
}
.info-list {
    text-align: center;
}
.info-list-unit dt{
    text-align: left;
}
.info-list-unit dd{
    margin-left: 60px;
}

/* product */
#product{
    display: flex;
    margin-top: 20rem;
}
.photobox{
    position: relative;
}
.photobox img{
    max-width: 600px;
    width: 100%;
}

.readmore{
    text-align: right;
}

/* map */
#map,.recruit{
    margin-top: 20rem;
    text-align: center;
}
#map h4{
    margin: 3rem;
    font-size: 2rem;
}
#map p,.recruit p{
    font-size: 1.4em;
    margin-bottom: 2.5rem;
}

/* recruit */
.recruit img{
    max-width: 600px;
    width: 100%;
}
.recruit h4{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}



/* footerのCSSスタートーーーーーーーーーーーーーーーーーーーーーーー完成 */
/*  todo--------後は、borderとフォントを直す */
footer{
    padding: 0 3rem 2rem 3rem;
    margin-top: 10rem;
    margin-bottom: 5rem;

}
.ftr_inner h2{
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
}
.ftr_inner{
    box-sizing: border-box;
    padding: 2rem 2rem 4rem;
    background-color: #f8f8f8;
}
.site-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ftr_inner .site-info_ttl{
    position: relative;
    /* 下二つで下線の調整 */
    padding-bottom: 1.5em;
    margin-bottom: 1em;
}
.ftr_inner .site-info_ttl:after{
    display: block;
    content: '';
    width: 2em;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.m-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.m-row dt{
    margin-right: 1em;
}
footer ul{
    list-style: none;
    padding-left: 0px;
}
footer li a{
    color: black;
}
.follow dt, .share-ftr dt{
    padding-bottom: 0.25rem;
}
.follow a, .share-ftr a{
    color: black;
}

footer .copyright{
    position: fixed;
    top: 50%;
    left: -3rem;
    transform: rotate(-90deg) translateY(-50%);
}
/* ーーーーーーーーーーーーーーーーーーーーーーーfooterのCSS終了 */

/* PC型 768px~1024px */
@media screen and (min-width: 768px) and (max-width: 1024px){
    
   
}

/* タブレット型 479px~767px*/
@media screen and (min-width: 479px) and (max-width: 767px){

}

/* スマホ mobile型 ~478px*/
@media screen and (max-width: 478px){

}
